<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Предсказание болезни сердца</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Предсказание риска сердечного заболевания</h2>
    <div class="lang-switch">
        <a href="{{ url_for('set_lang', lang='en') }}">Switch to English</a>
    </div>
    <form action="/predict" method="post">
        <label>Возраст: <input type="number" name="Age" required></label>
        <label>Пол:
            <select name="Sex" required>
                <option value="M">Мужчина</option>
                <option value="F">Женщина</option>
            </select>
        </label>
        <label>Тип боли в груди: <span class="info">*</span>
            <select name="ChestPainType" required>
                <option value="TA" title="Типичная стенокардия">TA</option>
                <option value="ATA" title="Атипичная стенокардия">ATA</option>
                <option value="NAP" title="Неангинозная боль">NAP</option>
                <option value="ASY" title="Бессимптомный">ASY</option>
            </select>
        </label>
        <label>Давление в покое: <input type="number" name="RestingBP" required></label>
        <label>Холестерин: <input type="number" name="Cholesterol" required></label>
        <label title="Уровень глюкозы в крови натощак">Фастинг БС: <span class="info">*</span>
            <select name="FastingBS" required >
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
        </label>
        <label>ЭКГ в покое: <span class="info">*</span>
            <select name="RestingECG" required>
                <option value="Normal" title="Норма">Normal</option>
                <option value="ST" title="Аномалия сегмента ST/зубца T">ST</option>
                <option value="LVH" title="Гипертрофия левого желудочка">LVH</option>
            </select>
        </label>
        <label title="Максимальная частота сердечных сокращений">Макс. ЧСС: <span class="info">*</span> <input type="number" name="MaxHR" required></label>
        <label>Стенокардия при нагрузке:
            <select name="ExerciseAngina" required>
                <option value="N">Нет</option>
                <option value="Y">Да</option>
            </select>
        </label>
        <label>Старый пик: <input type="number" name="Oldpeak" step="0.1" required></label>
        <label>Наклон ST: <span class="info">*</span>
            <select name="ST_Slope" required>
                <option value="Up" title="Восходящий">Up</option>
                <option value="Flat" title="Горизонтальный">Flat</option>
                <option value="Down" title="Нисходящий">Down</option>
            </select>
        </label>
        <br>
        <input type="submit" value="Предсказать">
    </form>
    {% if prediction %}
        <h3>Результат: {{ prediction }}</h3>
    {% endif %}
</body>
</html>